<% include partials/header.ejs%>

     <div style="padding-top: 20px;">
            <h2>About me</h2>
            <img src="/images/photo.png" style="width: 150px; height: 200px" />
            <table>
                <tr> 
                    <td>Name: </td>
                    <td> Mahima Thakkar</td>
                </tr>
                <tr> 
                    <td valign="top">About me: </td>
                    <td>
                        My name is Mahima Thakkar. I'm an IT student from Centennial College.. I was born and raised in Gujarat, India. <br>
                        I have just completed my 12th grade in India.  <br>
                        I like to travel. I believe travelling gives you a new perspective to everything. You get to know a lot about the different cultures, the cuisines, their history, the language and all the small unique things every place has to offer.
                    </td>
                </tr>
                <tr> 
                    <td>Resume: </td>
                    <td><a href="/files/resume.pdf">Click Here</a></td>
                </tr>
            </table>
        </div>