<html>
    <head></head>
    <body>
        <table>
            <tr><img src="logo.png" height = "100px"/></tr>
            <tr>
                <td><a href="/">Home</a></td>
                <td><a href="/about">About me</a></td>
                <td><a href="/project">Projects</a></td>
                <td><a href="/services">Services</a></td>
                <td><a href="/contact-me">Contact Me</a></td>
            </tr>
        </table>
        <div style="padding-top: 20px;">
            <h2>Contact Me</h2>
            <table>
                <tr>
                    <td>Contact number: </td>
                    <td>+1 (345)-290-2010</td>
                </tr>
                <tr>
                    <td>Facebook Id</td>
                    <td>XYZ_xyz</td>
                </tr>
                <tr>
                    <td>Twitter handle</td>
                    <td>@xyz.Twitter.com</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>xyz8901@sample.com/td>
                </tr>
            </table>
        </div>
    </body>
</html>