<% include partials/header.ejs%>
        <div style="padding-top: 20px;">
            <h2>Projects</h2>
            <table>
                <tr>
                    <td><img src="/images/project1.png" height="100px"></td>
                    <td>
                        <strong>Performance Monitoring Tool</strong><br>
                        Performance improved in Linux kernel after implementing this in the kernel.
                        <br>
                        Role: Design
                    </td>
                </tr>
                <tr>
                    <td><img src="/images/project2.png" height="100px"></td>
                    <td>
                        <strong>Sudo King Idea</strong><br>
                        Implemeted Sudo in user level privilages.
                        <br>
                        Role: Implentation
                    </td>
                </tr>
                <tr>
                    <td><img src="/images/project4.png" height="100px"></td>
                    <td>
                        <strong>Awesome LapDe</strong><br>
                        Designed, documented and implemented the tool that lets the OS wake up in case of any ptogramming bug and kills the program.
                        <br>
                        Role: Design, Documentation, Implentation
                    </td>
                </tr>
            </table>
        </div>