<% include partials/header.ejs%>
<div style="padding-top: 20px;">
            <h2>Services</h2>
            <ol>
                <li>Website Development</li>
                <li>Android app Development</li>
                <li>Database development</li>
            </ol>
        </div>